body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;  
}

.red{
    background-color: rgba(255, 0, 0, 0.82);
}

.yellow{
    background-color: rgba(255, 255, 0, 0.774);
}

.green{
    background-color: rgba(0, 128, 0, 0.801);
}

.blue{
    background-color: rgba(0, 0, 255, 0.76);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: orange;
}